* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  font-family: sans-serif;
  line-height: 1.5;
  text-align: center;
  background: #333;
 
}

.card-container,
.header {
  position: relative;
}
.header::before,
.hidden-title {
  position: absolute;

}


.header {
  min-height: 450px;
  color: white;
  padding: 20px;
  
}
  
.header::before {
  content: "";
  background: url(/assets/img/header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;

}

 .flex-header,
 .flex-wrapper-section,
 .flex-footer {
   display: flex;
 }

 .flex-header {
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
   
 }
 .container {
   max-width: 900px;
   margin: 0 auto;
  
 }

  .header-title {
    font-size: 2rem;
  }

  .header-title,
  .title-section,
  .card-title {
    font-weight: bold;
  }
  .header-title,
  .title-section,
  .section-text,
  .card-title  {
    margin-bottom: 20px;

  }
  
  .link {
    text-decoration: none;
    color: inherit;
  }

  .link-header {
    display: inline-block;
    border: 1px solid #666;
    padding: 20px 30px;
    background: #333;
    max-width: 150px;
    
  }

  .link-header:hover {
    background: #EAEAEA;
    color: black;
    transition-duration: 1.5s; 
  }
  .overflow-protection {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .web-section {
    padding: 20px;
    background: white;
    text-align: center;
  }

  .title-section{
    font-size: 1.5rem;
    
  }
  .text-columns {
    columns: 2 5rem;
    column-gap: 1.5rem;
  }
 
  .flex-wrapper-section{
    justify-content: center;
  }
  .card-container {
    padding: 20px;
  }
  .hidden-title {
    left: -5000%;
  }
 
  .card {
    max-width: 250px;
    margin: 10px; 
    background: white;
  }  

  .card-text-wrapper {
    padding: 20px;
    text-align: center;
  }

  .img {
    width: 100%;
    display: block;
    object-position: center;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 1.2rem;
  }

  .wrapper-cont-about-section {
    color: white;
  }
  
  .contact-section {
    background-color: #2690D4;
    
  }

  .contact-section,
  .about-section {
    padding: 20px;
    width: 50%;
   
  }
  

  .footer {
    color: white;
    text-align: center;
    background: #000000;
    padding: 30px;
  }

 .flex-footer {
  justify-content: space-around;
}

  .footer-text,
  .link-footer {
    font-size: 1.2rem;
    
  }

  .link-footer {
    color: #157ED4;
    
  }

