* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  font-family: sans-serif;
  line-height: 1.5em;
  text-align: center;
  max-width: 1200vw; 
  margin: 0 avto;
  background: #333;
 
}

.header {
  height: 450px;
  color: white;
  padding: 20px;
}
  
.header ::before {
  content: "";
  background: url(/assets/img/header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 450px;
  opacity: 0.1;
  z-index: -1;

}

 .flex-header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
   
 }

  .header-title,
  .section-title,
  .section2-title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    
  }

  .text-header {
   margin-bottom: 30px;
  }

  .link-header {
    color: white;
    text-decoration: none;
    border: 1px solid #666;
    padding: 20px 40px;
    background: #333;
    
  }

  .link-header:hover {
    background: #EAEAEA;
    color: black;
    transition-duration: 1.5s; 
  }
  .web-section {
   padding: 20px;
    background: white;
  }

  .section-title{
    font-size: 25px;
    margin: 30px 0;
    
  }
  .section-text {
   margin-bottom: 30px;
    
  }

  .flex-card-container,
  .wrapper-cont-about-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
 
  .list {
    width: 250px;
    margin: 30px 0;
    background: white;
    overflow: hidden;
    
  }  

  .card-text-wrapper {
    padding: 20px;
      
  }

  .img {
    width: 100%;
  }

  .list2 {
    margin: 30px 20px;
  }

  .card-title {
    font-size: 20px;
    margin-top: 30px;
    
  }

  .wrapper-cont-about-section {
    color: white;
  }

  .contact-section,
  .about-section {
    background-color: #2690D4;
    padding: 20px;
    width: 50%;
    
  }
  .link-contact {
    text-decoration: none;
    color: white;
  }
 
  .about-section {
    background-color: #333333;
  }

  .footer {
    color: white;
    text-align: center;
    background: #000000;
    padding: 30px;
  }

.flex-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-text,
.link-footer {
  font-size: 20px;
  
}

.link-footer {
  color: #157ED4;
  text-decoration: none;
}

